.hero_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap:100px
}

.hero_first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    border-radius: 36px;
    border: 1px solid #DFE7F9;
    background: #FFF;
    box-shadow: 0px 0px 19px 1px rgba(84, 84, 84, 0.10);
}

.counter_main {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 160px;
}

.hero_first h1 {
    font-size: 40px;
    color: #393939;
    margin-bottom: 20px;
}

.hero_first p {
    color: #4D4D4D;
}

.hero_first h2 {
    color: #486BBC;
}

.counter {
    position: relative;
    color: #000;
    text-align: center;
    border: none;
    background: none;
}

.counter p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-size: 20px;
    color: #000;
}

.hero_main button span:hover {
    color: #DFE7F9;
}

@media screen and (max-width: 100px) {
  .hero_main{
    gap:10px
  }
}