body {
  margin: 0;
}
body.navbar-open {
  overflow: hidden;
}

a,
p {
  font-family: Montserrat;
  text-decoration: none;
}

button{
  font-family: Montserrat;

}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: Roboto;
}

.container_main {
  max-width: 80%;
  margin: auto;
}

