body {
  margin: 0;
}
body.navbar-open {
  overflow: hidden;
}
a,
p {
  font-family: Inter;
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
  font-family: Roboto;
}

.container_main {
  max-width: 80%;
  margin: auto;
}