.hiw_main {
    width: 30%;
    min-width: 450px;
    margin: 0 auto
}

.hiw-chip{
    background-color: #486BBC;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}
.hiw-chip h1{
    font-size: 100%;
    color: #fff;
}

.hiw_main h1 {
    color: #486BBC;
    font-family: Roboto;
    letter-spacing: 0.5rem;
    text-align: center;
}

.hiw_main p {
    color: #606060;
    text-align: center;
}

.hiw_guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 50px;
}


.hiw_step {
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hiw_step h2{
    text-align: center;
}

.hiw_step p {
    color: #9E9E9E;
}

@media (max-width: 768px) {
    .hiw_guide {
        grid-template-columns: 1fr;
    }

    .hiw_item:nth-child(1) {
        order: 1;
    }

    .hiw_item:nth-child(2) {
        order: 2;
    }

    .hiw_item:nth-child(3) {
        order: 4;
    }

    .hiw_item:nth-child(4) {
        order: 3;
    }

    .hiw_item:nth-child(5) {
        order: 5;
    }

    .hiw_item:nth-child(6) {
        order: 6;
    }
    .hiw_step {
        padding: 0 10%;
    }
}

